@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

@font-face {
    font-family: 'Social';
    src: url('../font/social-icons.eot');
    src: url('../font/social-icons.eot?#iefix') format('eot'),
         url('../font/social-icons.woff') format('woff'),
         url('../font/social-icons.ttf') format('truetype'),
         url('../font/social-icons.svg#webfontmuk63VQd') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**
/ Design of Left Panel
**/
.bang1{
	padding: 5px 20px 0;
	line-height: 1.2em;
	display: inline-block;
	clear: both;
	float: left;
	margin: 10px 0 0;
	font-size: 4em;
	background: #FF0200;
	color: #fff;
}

.bang2{
	padding: 5px 20px 0;
	line-height: 1.2em;
	display: inline-block;
	clear: both;
	float: left;
	margin: 10px 0 0;
	font-size: 4em;
	background: #3FA7ED;
	color: #fff;
}

.bang3{
	padding: 5px 20px 0;
	line-height: 1.2em;
	display: inline-block;
	clear: both;
	float: left;
	margin: 10px 0 0;
	font-size: 4em;
	background: #03588C;
	color: #fff;
}

p.bang1, p.bang2, p.bang3{
	font-family: 'Lato', sans-serif;
	font-size: 55px;
}
.bang1 a, .bang2 a, .bang3 a{
	color: #fff;
}

.bang1:hover, .bang1 a:hover, .bang1:hover a{
	background: #fff;
	color: #FF0200;
	text-decoration: none;
	.bang1 a:hover{
		color: #FF0200;
	}
} 
.bang2:hover, .bang2 a:hover, .bang2 i:hover, .bang2:hover a{
	background: #fff;
	color: #3FA7ED;
	text-decoration: none;
} 
.bang3:hover, .bang3 a:hover, .bang3 i:hover, .bang3:hover a{
	background: #fff;
	color: #03588C;
	text-decoration: none;
}

/**
/ Body Text
**/

p, label, body {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

h1{
	font-family: 'Exo', sans-serif;
}

h2,h3	{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}
	
h1{
	font-weight: bold;
}

h3{
	margin-bottom: 3px;
	margin-top: 3px;
}

label{
	font-size: 20px;
}

label a{
	text-decoration: none;
}

label a:hover{
	color: red;
	text-decoration: none;
}

p {
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
}


/**
/ Images
**/

img{
	border-style:solid;
	border-width:5px;
	border-color: #3FA7ED;
}

.grayscale {
	  -webkit-transition: all .3s ease;
	     -moz-transition: all .3s ease;
	       -o-transition: all .3s ease;
	      -ms-transition: all .3s ease;
	          transition: all .3s ease;
											 filter: gray;
											opacity: .7;
		-webkit-filter: grayscale(100%);
		  -webkit-filter: brightness(-65%);
		
						
}

img.grayscale:hover {
	  -webkit-transition: all 1s ease;
	     -moz-transition: all 1s ease;
	       -o-transition: all 1s ease;
	      -ms-transition: all 1s ease;
	          transition: all 1s ease;
	-webkit-filter: grayscale(0%);
	  -webkit-filter: brightness(0%);
	
	opacity:1;
	
}

.portrait{
	width: 60%;
}

img.portrait{
	border-color: #03588C;
}

/**
/ Skills List
**/
#navcontainer ul
{
	padding: 0;
	list-style-type: none;
	line-height: 40px;
}

#navcontainer ul li { display: inline; padding-left: .5em; padding-right: .5em; }

#navcontainer ul li a
{
	text-decoration: none;
	font-size: 13px;
	font-family: 'Oxygen', sans-serif;
	padding: .3em .3em;
	color: #fff;
	background-color: #FF0200;
}

#navcontainer ul li a:hover
{
	color: #FF0200;
	background-color: #fff;
}


/**
/ Social Icons
**/

.social li {
	float: left;
	padding: .5em .5em .5em .5em;
	color: #575A5C;
	font-family: 'Social';
	font-size: 50px;
}

.social a{
	color: #575A5C;
}

.social a:hover{
	text-decoration: none;
	color: #FF0200;
	
}


/**
/ Footer
**/
p.footer_font {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 13px;
}

.footer_font a{
	font-family: 'Patrick Hand SC', cursive;
	color: #6c7476;
}

.horizontal-line{
	border-top: 4px solid #66a7c5; margin: 10px 0; 
	width: auto;
}
.horizontal-line:hover{
	border-top: 4px solid #ee3233; margin: 10px 0; 
}

#ss-footer{
	display:none !important;
}
