@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);
@import url(http://fonts.googleapis.com/css?family=Telex);

@font-face {
    font-family: 'Social';
    src: url('../font/social-icons.eot');
    src: url('../font/social-icons.eot?#iefix') format('eot'),
         url('../font/social-icons.woff') format('woff'),
         url('../font/social-icons.ttf') format('truetype'),
         url('../font/social-icons.svg#webfontmuk63VQd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	.bang1, .bang2, .bang3{
		float:middle;
	}

	#right{
		padding-top: 1.5em;
	}
}

/**
/ Design of Left Panel
**/
.bang1{
	padding: 5px 20px 0;
	line-height: 1.2em;
	display: inline-block;
	clear: both;
	float: left;
	margin: 10px 0 0;
	background: #FF0200;
	color: #fff;
}

.bang2{
	padding: 5px 20px 0;
	line-height: 1.2em;
	display: inline-block;
	clear: both;
	float: left;
	margin: 10px 0 0;
	background: #3FA7ED;
	color: #fff;
}

.bang3{
	padding: 5px 20px 0;
	line-height: 1.2em;
	display: inline-block;
	clear: both;
	float: left;
	margin: 10px 0 0;
	background: #03588C;
	color: #fff;
}

p.bang1, p.bang2, p.bang3{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	float: right;
}
.bang1 a, .bang2 a, .bang3 a{
	color: #fff;
}

.bang1:hover, .bang1 a:hover, .bang1:hover a{
	background: #fff;
	color: #FF0200;
	text-decoration: none;
	.bang1 a:hover{
		color: #FF0200;
	}
} 
.bang2:hover, .bang2 a:hover, .bang2 i:hover, .bang2:hover a{
	background: #fff;
	color: #3FA7ED;
	text-decoration: none;
} 
.bang3:hover, .bang3 a:hover, .bang3 i:hover, .bang3:hover a{
	background: #fff;
	color: #03588C;
	text-decoration: none;
}

/**
/ Body Text
**/

#nav-list{
	display:inline;
	list-style-type: none;
	padding-right: 20px;

}

#nav-list li.first h2{
	border-left-color: 0px;
}

#nav-list li h2{
 margin-left: 0;
 padding: 3px 15px;
 list-style: none;
 line-height: 15px;
 display: inline;
}

#right{
	padding-top: 5em;
}

#right p{
	float:right;
	font-size: 1em;
	padding-top: 4em;
}

h1{
	font-family: 'Telex', sans-serif;
	float: right;
	font-size: 5em;
}

h2{
	font-family: 'Telex', sans-serif;
	font-size: 1.2em;
	float:right;
}

h3	{
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 3px;
}

label{
	font-size: 20px;
}

label a{
	text-decoration: none;
}

label a:hover{
	color: red;
	text-decoration: none;
}

p {
	margin-bottom: 0px;
	font-family: 'Telex', sans-serif;
	line-height: 1.25em;
	color: rgb(87, 90, 92);
}

.break-word {
		word-wrap: break-word;
}

p.description{
	padding-top:18em;
}


/**
/ Images
**/

img{
	border-style:solid;
	border-width:5px;
	border-color: #3FA7ED !important;
	float:left;
	max-width: 100%;
	height: auto;
}

@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}

.grayscale {
	  -webkit-transition: all .3s ease;
	     -moz-transition: all .3s ease;
	       -o-transition: all .3s ease;
	      -ms-transition: all .3s ease;
	          transition: all .3s ease;
											 filter: gray;
											opacity: .7;
		-webkit-filter: grayscale(100%);
		  -webkit-filter: brightness(-65%);
		
						
}

img.grayscale:hover {
	  -webkit-transition: all 1s ease;
	     -moz-transition: all 1s ease;
	       -o-transition: all 1s ease;
	      -ms-transition: all 1s ease;
	          transition: all 1s ease;
	-webkit-filter: grayscale(0%);
	  -webkit-filter: brightness(0%);
	
	opacity:1;
	
}

.portrait{
	width: 95%;
}

img.portrait{
	border-color: #03588C;
}

/**
/ Skills List
**/
#navcontainer ul
{
	padding: 0;
	list-style-type: none;
	line-height: 40px;
}

#navcontainer ul li { display: inline; padding-left: .5em; padding-right: .5em; }

#navcontainer ul li a
{
	text-decoration: none;
	font-size: 13px;
	font-family: 'Oxygen', sans-serif;
	padding: .3em .3em;
	color: #fff;
	background-color: #FF0200;
}

#navcontainer ul li a:hover
{
	color: #FF0200;
	background-color: #fff;
}


/**
/ Social Icons
**/

.social li {
	float: left;
	padding: .5em .5em .5em .5em;
	color: #575A5C;
	font-family: 'Social';
	font-size: 50px;
}

.social a{
	color: #575A5C;
}

.social a:hover{
	text-decoration: none;
	color: #FF0200;
}

.social a#linkedin:hover{
	color: #0274b3;
}

.social a#fb:hover{
	color: #3b569d;
}

.social a#twitter:hover{
	color: #36abe0;
}

.social a#github:hover{
	color: #000000;
}

.social a#soundcloud:hover{
	color: #ed7320;
}

.social a#instagram:hover{
	color: #a77f61;
}

.social a#foursquare:hover{
	color: #2090c7;
}

.social a#spotify:hover{
	color: #7fb748;
}

.social a#hypem:hover{
	color: #83c441;
}

/**
/ Footer
**/
p.footer_font {
	padding-bottom:2em;
	font-family: 'Telex', sans-serif;
	font-size: 12px;
}

.footer_font a{
  	color: #6c7476;
}

.horizontal-line{
	border-top: 4px solid #66a7c5; margin: 10px 0; 
	width: auto;
}
.horizontal-line:hover{
	border-top: 4px solid #ee3233; margin: 10px 0; 
}

#ss-footer{
	display:none !important;
}
